@import "../../sass/colours.scss";
.intro_section {
    color: $lightGrey;
    background-image: url("/mac1.jpg");
    background-position: center;
    background-attachment: fixed;
    min-height: 400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    h2 {
        font-size: 6em;
    }
    .photo_frame {
        width: 200px;
        height: 200px;
        overflow: hidden;
        position: relative;
        border-radius: 116px;
        border: $lightGrey solid 8px;
        background-color: $black;
        transition: border-color .3s ease;
        &:hover {
            border-color: $blue;
            background-color: rgba(0,0,0,0);
            .photo { 
                opacity: 1;
            }
        }
        .photo {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-image: url('/head.jpg');
            opacity: .5;
            transition: opacity .3s ease;
            border-radius: 200px;
        }
    }
}
