$black: #000000;
$darkBlue: #170d28; //rgba(23, 13, 40, 100)
$blue: #1d3b5b; //rgba(29, 59, 91, 100)
$lightBlue: #8892a5; //rgba(136, 146, 165, 100)
$lightGrey: #e3d4ce; //rgba(227, 212, 206, 100)
$bronze: #d25f35; //light(210, 95, 53, 100)
