@import "../sass/colours.scss";
.main_page {
    .page_wrapper {
        section {
            div {
                p {
                    max-width: 60%;
                    display: inline-block;
                }
            }
        }
        section.experience {
            background-color: $darkBlue;
        }
    }
}
